@import url(https://fonts.google.com/specimen/Hind+Siliguri?query=Hind+Siligur);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* img{
    width: 409.8px;
    height: 277.77px;
}

body > header{
    background-color:#0e1114;
    padding:16px 0;
    color:#e7eae7;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li{
    display: inline;
}

header li a{
    color: #e7eae7;
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
    background-size: cover;
}

/* Data das postagens.*/
.criaçãodata{
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}

.container{
    width: 1366px;
    margin: 0 auto;
}


/* Artigos.*/
.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    /* height: 180px; */
    width: 100%;

}

.articles article{
    width: 30%;

}

section{
    padding: 16px 0;
}

section h2, 
.articles article{
    margin-bottom: 16px;
}

section h2{
    font-size: 32px;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article h3{
    font-size: 24px;
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}

.articles article a{
    background-color:#66b75d; /* Links */
    color:#e7eae7;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}


/* Sessão de esporte.*/
#sports{
    background-color:#080303;
    color: #e7eae7
}

#sports .articles article a{
    margin-top: 8px;
    background-color:#66b75d; /* Links */
    border-radius: 30px;
}


/* Sessão de economia.*/
#economy{
    background-color:#0c1409;
    color: #e7eae7;
}

#economy .articles article a{
    background-color: #66b75d; /* Links */
    margin-top: 8px;
    border-radius: 30px;
    font-weight: bold;
}


/* Sessão de tecnologia.*/
#tecnology{
    background-color:#140808;
    color: #e7eae7;
}

#tecnology .articles article a{
    background-color: #66b75d; /* Links */
    margin-top: 8px;
    border-radius: 30px;
    font-weight: bold;
}


/* Sessão de games.*/
#games{
    background-color: #0d0d12;
    color: #e7eae7;
}

#games .articles article a{
    background-color: #66b75d; /* Links */
    margin-top: 8px;
    border-radius: 30px;
    font-weight: bold;
}